# Practical_1: Variables and Assignments

Exercise 1:
Declare a variable x and assign it the value 10

In [1]:
x=5
x

5

### Exercise 2:
Assign the value `True` to a variable called `is_valid`.

In [2]:
is_valid = True
is_valid

True


### Exercise 3:
Create a string variable `name` with the value "Python Programming".

In [4]:
name="Python Programming"
name

'Python Programming'

### Exercise 4:
Assign the result of `5 + 3` to a variable `sum_result`.

In [5]:
sum_result=5+3
sum_result

8

### Exercise 5:
Assign multiple variables in one line: `a = 5`, `b = 10`, `c = 15`.

In [6]:
a,b,c = 5,10,15
a,b,c

(5, 10, 15)

### Exercise 6:
Assign the value of one variable `x` to another variable `y`.

In [7]:
y=x
y

5

### Exercise 7:
Assign a floating-point number `9.8` to a variable `gravity`.

In [8]:
gravity=9.8
gravity

9.8

### Exercise 8:
Create a variable `country` and assign it the string value of your favorite country.

In [9]:
country="Rwanda"
country

'Rwanda'

### Exercise 9:
Change the value of variable `age` from `25` to `26` in two separate steps.

In [10]:
age=25
age=26
age

26

### Exercise 10:
Use one variable to store the result of subtracting two numbers `20 - 7`.

In [11]:
result=20-7
result

13

### Exercise 11:
Assign an integer value and a floating-point value to two different variables.

In [13]:
int_value=13
float_value=2.7
print(int_value,float_value)

13 2.7

### Exercise 12:
Assign a boolean value `False` to a variable `is_completed`.

In [14]:
is_completed=False
is_completed

False

### Exercise 13:
Swap the values of two variables `x` and `y`.

In [15]:
x=2
y=6
x,y=y,x
print(x,y)

6 2


### Exercise 14:
Assign a complex number `3 + 4j` to a variable `complex_num`.

In [16]:
complex_num=3+4j
complex_num

(3+4j)

### Exercise 15:
Reassign a variable from an integer to a string.

In [17]:
num_var=6
num_var="six"
print(num_var)

six

### Exercise 16:
Create two variables `first_name` and `last_name`, and assign them your first and last names.

In [18]:
first_name="coco"
last_name="uwase"
print(first_name,last_name)

coco uwase

### Exercise 17:
Create a variable `temperature` and assign it the value of `35.5`.

In [19]:
temperature=35.5
temperature

35.5

### Exercise 18:
Assign the result of the multiplication of two numbers `8 * 6` to a variable `product`.

In [20]:
product=8*6
product

48

### Exercise 19:
Assign a sentence of your choice to a variable `sentence`.

In [21]:
sentence="i love coco"
sentence

'i love coco'

### Exercise 20:
Use an assignment to convert a string `'50'` into an integer variable `int_value`.

In [22]:
int_value=int('50')
int_value

50

### Exercise 21:
Assign the result of dividing `144` by `12` to a variable `quotient`.

In [23]:
quotient=144/12
quotient

12.0

### Exercise 22:
Assign the remainder of `47 divided by 5` to a variable `remainder`.

In [24]:
remainder=47%5
remainder

2

### Exercise 23:
Create a variable `is_student` and assign it the value `True`.

In [25]:
is_student=True
is_student

True

### Exercise 24:
Use a variable to store the result of a modulo operation: `45 % 4`.

In [26]:
mod_result=45%4
mod_result

1

### Exercise 25:
Create a variable `pi` and assign it the value `3.14159`.

In [27]:
pi=3.14159
pi

3.14159

### Exercise 26:
Create two variables `length` and `width`, assign them values, and calculate the area of a rectangle.

In [28]:
length=23
width=12
area=length*width
area

276

### Exercise 27:
Assign a negative number to a variable `negative_value`.

In [29]:
negative_value=-5
negative_value

-5

### Exercise 28:
Assign a string containing a special character (e.g., "Hello, World!") to a variable `greeting`.

In [30]:
greeting="hello,world"
greeting

'hello,world'

### Exercise 29:
Create a variable `population` and assign it a large integer value (in billions).

In [31]:
population=230000000000
population

230000000000

### Exercise 30:
Use a variable to store the result of raising `2` to the power of `8`.

In [32]:
power_result=2**4
power_result

16

### Exercise 31:
Assign a list of your favorite fruits to a variable `fruits`.

In [33]:
fruits=["mango","apple"]
fruits

['mango', 'apple']

In [ ]:
### Exercise 32:
Assign a tuple of three numbers to a variable `coordinates`.

In [34]:
coordinates=(13,12,11)
coordinates

(13, 12, 11)

### Exercise 33:
Assign a dictionary with keys `name` and `age` to a variable `person`.

In [35]:
person={"name":"coco","age":46}
person

{'name': 'coco', 'age': 46}

### Exercise 34:
Use variables to store the sum of two floating-point numbers.

In [36]:
num1=6.5
num2=2.4
num_sum=num1+num2
num_sum

8.9

### Exercise 35:
Create a variable `is_sunny` and assign it the result of a comparison `10 > 5`.

In [37]:
is_sunny=10>5
is_sunny

True

### Exercise 36:
Assign a string and an integer to two different variables, then print both on one line.

In [38]:
word="age"
number=6
print(word,number)

age 6

### Exercise 37:
Reassign a variable that originally held a number to a boolean value.

In [39]:
variable=233
variable=True
variable

True

### Exercise 38:
Create a variable `is_weekend` and assign it the result of `False`.

In [40]:
is_weekend=False
is_weekend

False

### Exercise 39:
Assign a multi-line string to a variable `description`.

In [41]:
description="""i hate coco. but she is cute.she is short"""
description

'i hate coco. but she is cute.she is short'

### Exercise 40:
Use variables to store the result of the absolute value of `-25`.

In [42]:
abs_value=abs(-25)
abs_value

25

### Exercise 41:
Assign the result of a floor division `100 // 6` to a variable `floor_div_result`.

In [43]:
floor_div_result=100//6
floor_div_result

16

### Exercise 42:
Assign the result of adding a floating-point number to an integer to a variable `mixed_sum`.

In [44]:
mixed_sum=45
float_num=3.9
result=mixed_sum+float_num
result

48.9

### Exercise 43:
Use variables to store a combination of string concatenation.

### Exercise 44:
Assign an empty list to a variable `empty_list`.

In [45]:
empty_list=[]
empty_list

[]

### Exercise 45:
Assign a boolean value based on the comparison of two variables `a = 10` and `b = 15`.

In [46]:
a=10
b=15
comparison=a < b
comparison

True

### Exercise 46:
Assign a long sentence to a variable and count its characters using `len()`.

In [47]:
lon_sent="i have meet with alot of people nowdays but the least got my attention"
char_count=len(lon_sent)
char_count

70

### Exercise 47:
Assign a fractional result `7 / 3` to a variable `division_result`.

In [49]:
division_result=7/3
division_result

2.3333333333333335

### Exercise 48:
Create a variable `speed` and assign it the value of 100 kilometers per hour.

In [50]:
speed=100
speed

100

### Exercise 49:
Assign a multi-variable equation like `y = 3x + 5` where `x = 4` to a variable `y`.

In [51]:
x=4
y=3*x + 5
y

17

### Exercise 50:
Use variables to calculate and store the average of three numbers.

In [ ]:
num1=12
num2=6
num3=5
average=(num1)

----

### Exercise 1:
Declare a variable `x` and assign it the value `10`.

```python
# Exercise 1
```

---

### Exercise 2:
Assign the value `True` to a variable called `is_valid`.

```python
# Exercise 2
```

---

### Exercise 3:
Create a string variable `name` with the value "Python Programming".

```python
# Exercise 3
```

---

### Exercise 4:
Assign the result of `5 + 3` to a variable `sum_result`.

```python
# Exercise 4
```

---

### Exercise 5:
Assign multiple variables in one line: `a = 5`, `b = 10`, `c = 15`.

```python
# Exercise 5
```

---

### Exercise 6:
Assign the value of one variable `x` to another variable `y`.

```python
# Exercise 6
```

---

### Exercise 7:
Assign a floating-point number `9.8` to a variable `gravity`.

```python
# Exercise 7
```

---

### Exercise 8:
Create a variable `country` and assign it the string value of your favorite country.

```python
# Exercise 8
```

---

### Exercise 9:
Change the value of variable `age` from `25` to `26` in two separate steps.

```python
# Exercise 9
```

---

### Exercise 10:
Use one variable to store the result of subtracting two numbers `20 - 7`.

```python
# Exercise 10
```

---

### Exercise 11:
Assign an integer value and a floating-point value to two different variables.

```python
# Exercise 11
```

---

### Exercise 12:
Assign a boolean value `False` to a variable `is_completed`.

```python
# Exercise 12
```

---

### Exercise 13:
Swap the values of two variables `x` and `y`.

```python
# Exercise 13
```

---

### Exercise 14:
Assign a complex number `3 + 4j` to a variable `complex_num`.

```python
# Exercise 14
```

---

### Exercise 15:
Reassign a variable from an integer to a string.

```python
# Exercise 15
```

---

### Exercise 16:
Create two variables `first_name` and `last_name`, and assign them your first and last names.

```python
# Exercise 16
```

---

### Exercise 17:
Create a variable `temperature` and assign it the value of `35.5`.

```python
# Exercise 17
```

---

### Exercise 18:
Assign the result of the multiplication of two numbers `8 * 6` to a variable `product`.

```python
# Exercise 18
```

---

### Exercise 19:
Assign a sentence of your choice to a variable `sentence`.

```python
# Exercise 19
```

---

### Exercise 20:
Use an assignment to convert a string `'50'` into an integer variable `int_value`.

```python
# Exercise 20
```

---

### Exercise 21:
Assign the result of dividing `144` by `12` to a variable `quotient`.

```python
# Exercise 21
```

---

### Exercise 22:
Assign the remainder of `47 divided by 5` to a variable `remainder`.

```python
# Exercise 22
```

---

### Exercise 23:
Create a variable `is_student` and assign it the value `True`.

```python
# Exercise 23
```

---

### Exercise 24:
Use a variable to store the result of a modulo operation: `45 % 4`.

```python
# Exercise 24
```

---

### Exercise 25:
Create a variable `pi` and assign it the value `3.14159`.

```python
# Exercise 25
```

---

### Exercise 26:
Create two variables `length` and `width`, assign them values, and calculate the area of a rectangle.

```python
# Exercise 26
```

---

### Exercise 27:
Assign a negative number to a variable `negative_value`.

```python
# Exercise 27
```

---

### Exercise 28:
Assign a string containing a special character (e.g., "Hello, World!") to a variable `greeting`.

```python
# Exercise 28
```

---

### Exercise 29:
Create a variable `population` and assign it a large integer value (in billions).

```python
# Exercise 29
```

---

### Exercise 30:
Use a variable to store the result of raising `2` to the power of `8`.

```python
# Exercise 30
```

---


```python
# Exercise 31
```

---

### Exercise 32:
Assign a tuple of three numbers to a variable `coordinates`.

```python
# Exercise 32
```

---

### Exercise 33:
Assign a dictionary with keys `name` and `age` to a variable `person`.

```python
# Exercise 33
```

---

### Exercise 34:
Use variables to store the sum of two floating-point numbers.

```python
# Exercise 34
```

---

### Exercise 35:
Create a variable `is_sunny` and assign it the result of a comparison `10 > 5`.

```python
# Exercise 35
```

---

### Exercise 36:
Assign a string and an integer to two different variables, then print both on one line.

```python
# Exercise 36
```

---

### Exercise 37:
Reassign a variable that originally held a number to a boolean value.

```python
# Exercise 37
```

---

### Exercise 38:
Create a variable `is_weekend` and assign it the result of `False`.

```python
# Exercise 38
```

---

### Exercise 39:
Assign a multi-line string to a variable `description`.

```python
# Exercise 39
```

---

### Exercise 40:
Use variables to store the result of the absolute value of `-25`.

```python
# Exercise 40
```

---

### Exercise 41:
Assign the result of a floor division `100 // 6` to a variable `floor_div_result`.

```python
# Exercise 41
```

---

### Exercise 42:
Assign the result of adding a floating-point number to an integer to a variable `mixed_sum`.

```python
# Exercise 42
```

---

### Exercise 43:
Use variables to store a combination of string concatenation.

```python
# Exercise 43
```

---

### Exercise 44:
Assign an empty list to a variable `empty_list`.

```python
# Exercise 44
```

---

### Exercise 45:
Assign a boolean value based on the comparison of two variables `a = 10` and `b = 15`.

```python
# Exercise 45
```

---

### Exercise 46:
Assign a long sentence to a variable and count its characters using `len()`.

```python
# Exercise 46
```

---

### Exercise 47:
Assign a fractional result `7 / 3` to a variable `division_result`.

```python
# Exercise 47
```

---

### Exercise 48:
Create a variable `speed` and assign it the value of 100 kilometers per hour.

```python
# Exercise 48
```

---

### Exercise 49:
Assign a multi-variable equation like `y = 3x + 5` where `x = 4` to a variable `y`.

```python
# Exercise 49
```

---

### Exercise 50:
Use variables to calculate and store the average of three numbers.

```python
# Exercise 50
```

****